* {
    font-family: "Times New Roman", "Arial", serif;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    width: auto;
    border-bottom-style: solid;
    border-width: auto;
    border-color: blue;
    padding: 15px;
    margin-bottom: 50px;
}

h2 {
    border-bottom-style: solid;
    width: fit-content;
}

#recipe-row {
    text-align: center;
}

.recipe {
    text-align: center;
    box-sizing: border-box;
    width: fit-content;
    border-style: solid;
    border-color: purple;
    padding: 10px;
    margin: 20px;
}

p {
    width: 700px;
}
